@model Jungle_Models.TravelRecommendation

@{ var title = "Create Travel Recommendation"; }

<form method="post" asp-action="upsert" enctype="multipart/form-data">
  @if (Model.Id != 0)
  {
    title = "Edit TravelRecommendation";
    <input asp-for="Id" hidden />}
  <div class="border p-3">

    <div class="form-group row">
      <h2 class="text-info pl-3">@title</h2>
    </div>
    <div class="row">
      <div class="col-8">
        <div class="form-group row">
          <div class="col-4">
            <label asp-for="DangerLevel"></label>
          </div>
          <div class="col-8">
            <input asp-for="DangerLevel" class="form-control" />
            <span asp-validation-for="DangerLevel" class="text-danger"></span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-4">
            <label asp-for="Description"></label>
          </div>
          <div class="col-8">
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-4">
            <label asp-for="Type"></label>
          </div>
          <div class="col-8">
            <input asp-for="Type" class="form-control" />
            <span asp-validation-for="Type" class="text-danger"></span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-8 offset-4 row">

            <div class="col">
              @if (Model.Id != 0)
              {
                //update
                <input type="submit" asp-route-id="@Model.Id" class="btn btn-info w-100" value="Update" /> }
              else
              {
                //create
                <input type="submit" class="btn btn-primary w-100" value="Create" />}
            </div>
            <div class="col">
              <a asp-action="Index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i> Back</a>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</form>
@section Scripts{

  @{
    <partial name="_ValidationScriptsPartial" />
  }

}